apiVersion: v1
kind: Service
metadata:
  name: {{ include "control-plane.name" . }}-control-plane
  labels:
    {{- include "control-plane.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "control-plane.selectorLabels" . | nindent 4 }}
